@if (profile(); as profile) {
  <tt-user-avatar [avatarUrl]="profile.avatarUrl"></tt-user-avatar>

  <textarea
    class="hidden-textarea"
    placeholder="Напишите что-нибудь"

    (input)="onTextAreaInput($event)"
    [(ngModel)]="postText"
  ></textarea>

  <div class="btn-wrapper">
    <button class="btn-emoji" type="button">
      <svg icon="emoji" class="svg16"></svg>
    </button>
    <button
      type="button"
      class="btn-icon"
      (click)="onCreatePost()"
    >
      <svg icon="send-arrow" class="svg16"></svg>
    </button>
  </div>
}
