:host {
  display: grid;
  gap: 16px;
  overflow-y: auto;
}

:host::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: transparent;
}
:host::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}
:host::-webkit-scrollbar-track {
  background: rgba(174, 122, 255, 0.1);
  border-radius: 2px;
  box-shadow: none;
}
:host::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 2px;
  border: none;
  box-shadow: none;
}
:host::-webkit-scrollbar-thumb:hover {
  background: #9b6af0;
}
