@if (profile(); as profile) {
  <div class="profile-card">
    <div class="avatar-name">
      <img [src]="profile.avatarUrl | ImgUrl" [alt]="profile.username" class="profile-card__avatar">

      <div class="profile-card__name">
        <strong class="h6">{{profile.firstName}} {{profile.lastName}}</strong>
        <span class="subtitle">{{profile.username}}</span>
      </div>
    </div>

    <div class="profile-card__description">
      <p>
        {{profile.description}}
      </p>
    </div>

    <ul class="skill-tag">
      @for (tags of profile.stack; track tags) {
        <app-profile-tag [tag]="tags"></app-profile-tag>
      }
    </ul>

    <div class="profile-card__action-btns">
      <button class="btn btn--center" type="button" (click)="onSubscribe()">
        {{ isSubscribed() }}
        <svg class="svg16" icon="subscribe"></svg>
      </button>

      <a class="btn btn--link" [routerLink]="['/profile', profile.id]">
        <svg class="svg16" icon="arrow-top"></svg>
      </a>
    </div>
  </div>
} @else {
  Нету
}
