<div class="profile-card">
  <div class="avatar-name">
    <img src="/assets/images/avatar.png" alt="avatar" class="profile-card__avatar">

    <div class="profile-card__name">
      <strong class="h6">Райн Гослинг</strong>
      <span>ryan</span>
    </div>
  </div>

  <div class="profile-card__description">
    <p>Список навыков, который мы обсудили выше, — основа резюме, но не единственная его часть. Также можно рассказать о себе в классическом смысле — этот раздел можно добавить в сопроводительное письмо.</p>
  </div>

  <ul class="skill-tag">
    <app-profile-tag></app-profile-tag>
  </ul>

  <div class="profile-card__action-btns">
    <button class="btn" type="button">
      Подписаться

    </button>
  </div>
</div>
