.profile-card__skill {
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid var(--ligth-color);
  color: var(--ligth-color);
  transition: all .3s ease;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  font-size: 12px;
  font-weight: 700;

  &:hover {
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
  }
}
